NODE_ENV=development
PORT=3000

DATABASE_URL=postgresql://postgres:postgres@localhost:5432/booking_vehicle?schema=public
REDIS_URL=redis://localhost:6379

JWT_ACCESS_TOKEN_SECRET=replace_me_access_secret_min_32_chars
JWT_REFRESH_TOKEN_SECRET=replace_me_refresh_secret_min_32_chars
JWT_ACCESS_TOKEN_EXPIRES_IN=15m
JWT_REFRESH_TOKEN_EXPIRES_IN=30d

SWAGGER_ENABLED=true

CORS_ORIGINS=http://localhost:3000